<div class="container-form">
  <h1 class="title-form m-2"> {{dataService.isNew === true ? "Nuevo Pokemon" : "Editar Pokemon"}} </h1>


  <form #form="ngForm">

    <div class="container-inputs">

      <div>
        <input style="display: none;" name="id" type="text" placeholder="ID" autocomplete="off" [(ngModel)]="dataService.isNew ? id : dataService.pokemonSelected.id">
        <input style="display: none;" name="hp" type="text" placeholder="ID" autocomplete="off" [(ngModel)]="dataService.isNew ? hp : dataService.pokemonSelected.hp">
        <input style="display: none;" name="type" type="text" placeholder="ID" autocomplete="off" [(ngModel)]="dataService.isNew ? type : dataService.pokemonSelected.type">
        <input style="display: none;" name="idAuthor" type="text" placeholder="ID" autocomplete="off" [(ngModel)]="dataService.isNew ? idAuthor : dataService.pokemonSelected.id_author">


        <label for="Name">Nombre:</label>
        <input name="name" type="text" placeholder="Nombre" autocomplete="off" [(ngModel)]="dataService.isNew ? pokemon.name : dataService.pokemonSelected.name"
           required>
        <br>


        <label for="Url">Imagen:</label>
        <input name="image" type="text" placeholder="URL" autocomplete="off" [(ngModel)]="dataService.isNew ? pokemon.image : dataService.pokemonSelected.image">

      </div>

      <div>

        <div class="form-group-range">
          <label for="">Ataque:</label>
          <span>0</span>
          <input name="attack" class="range" type="range" #ranger min="0" max="{{valueMaxAttack}}"
            [(ngModel)]="dataService.isNew ? valueAttack : dataService.pokemonSelected.attack" (ngModelChange)="setValueAttack($event)">
          <span> {{ dataService.isNew ? valueAttack : dataService.pokemonSelected.attack}} </span>
        </div>


        <br>

        <div class="form-group-range">
          <label for="">Defensa:</label>
          <span>0</span>
          <input name="defense" class="range" type="range" min="0" max="{{valueMaxDefending}}"
            [(ngModel)]="dataService.isNew ? valueDefending : dataService.pokemonSelected.defense" (ngModelChange)="setValueDefending($event)"  >
          <span> {{dataService.isNew ? valueDefending : dataService.pokemonSelected.defense}} </span>
        </div>

      </div>
    </div>


    <div class="container-buttons-form m-2">
      <button [disabled]="form.form.invalid" (click)="savePokemon(form, dataService.pokemonSelected.id)" class="button-primary"><img class="icon"
          src="../assets/images/icons/save-icono.png" alt="">
        Guardar</button>
      <button (click)="cancelRegister()" class="button-primary"><img class="icon"
          src="../assets/images/icons/cancel-icono.png" alt="">
        Cancelar</button>
    </div>

  </form>
</div>
